@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application with CRUD operations</p>
</div>
<div style="width:100%">
    <img src="~/Images/tob11.png" alt="Alternate Text" style="width:100%" />
</div>
<div style="display:flex;justify-content:space-between;width:100%">
    <div style="width:35%;">
        <img src="~/Images/Left.png" alt="Alternate Text" style="width:100%" />
    </div>
    <div style="width:65%">
        <img src="~/Images/Tob.png" alt="Alternate Text" style="width:100%;height:100%" />
    </div>
</div>


